.App {
  text-align: center;
}
.tooltip-details {
  display: flex;
  flex-direction: column;
}
.area-name {
  color: hotpink;
  font-size: 20px;
}
.label {
  font-size: 12px;
}
.label > span {
  color: aqua;
  font-size: 14px;
}

select {
  padding: 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px #999;
  background: #eee;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  color: hotpink;
}

select option {
  margin: 40px;
  background: #ffffff;
  color: #000000;
  text-shadow: 0 1px 0 rgba(14, 123, 212, 0.618);
}
